/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

ul {
  list-style: none;
}

/* Layout Header */

header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}

.logo {
  width: 80px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 15px;
}

.navbar li {
  list-style: none;
  font-weight: bold;
  position: relative;
}

.barra-hover {
  position: absolute;
  background-color: rgb(5, 132, 250);
  width: 100%;
  height: 4px;
  margin-top: 30px;
  display: none;
}

.navbar li:hover {
  color: rgb(5, 132, 250);
  cursor: pointer;
}

.navbar li:hover .barra-hover {
  display: block;
}

/* Layout Main */


.info-section {
  background-color: rgb(5, 132, 250);
  height: 150px;
  gap: 20px;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.info-section ul {
  display: flex;
  margin-left: 40px;
  justify-content: space-between;
  width: 100%;
}

.info-section li {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
}

.info-section img {
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.jumbotron {
  background-image: url("/src/assets/jumbotron.jpg");
  background-size: cover;
  height: 200px;
}

.container-fumetti {
  background-color: black;
  display: flex;
  flex-wrap: wrap;

}

.fumetto-card {
  width: calc(100 / 6);
  padding: 10px;
  max-width: 100%;
  margin: 0 50px;
}

.fumetto-card img {
  width: 100%;
  display: block;
}

.fumetto-card h3 {
  color: white;
}